.logo {
	height: 100px;
}

.menu {
	margin: 0px 0px 0px 275px;
}

#menu ul, #menu li {
	margin: 0px;
	padding: 0px;
    letter-spacing: 2px;
    font-family: "Andale Mono", "Lucida Sans Typewriter", "Lucida Console", monospace;
    font-size: 14px;
    line-height: 16px;
}

#menu li {
	margin: 0px 5px;
}

#menu a {
	padding: 7px 8px 0px;
	margin-top: -7px;
	line-height: 30px;
}

.page_right, .page_left, .page {
	padding: 55px 30px 30px;
}

.clock {
	height: 84px;
}
