html {
    overflow-y: scroll;
}
body {
	background-color: #e8e8e8;
	background-image: url('../images/background.png');
	background-repeat: repeat-x;
	margin: 0px 0px;
	padding: 0px;
    text-align:justify;
}

#container {
	width: 1010px;
	margin: 0px auto;
	padding: 10px;
	border: none;
	overflow: hidden;
}

.logo {
	margin: 0px;
	overflow: hidden;
	width: 500px;
	height: 110px;
	float: left;
}

.menu {
	margin: 0px 0px 0px 265px;
    height: 25px;
}

nav ul, nav li {
	margin: 0px;
	padding: 0px;
}

#menu {
	list-style: none;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

#menu li {
	float: left;
	position: relative;
}

#menu a {
	display: block;
	padding: 7px 15px;
	color: #dadada;
	background: #484848;
	text-decoration: none;
    font-family: "Andale Mono", "Lucida Sans Typewriter", "Lucida Console", monospace;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    opacity: 0.9;
    border-bottom: 2px solid #000000;
}

#menu a:hover {
	color: #dadada;
	background: #292929;
	text-decoration: none;
    border-bottom: 2px solid #000000;
}

#menu ul {
	background: #484848;
	background: rgba(255,255,255,0);
	list-style: none;
	position: absolute;
	left: -9999px;
}

#menu ul li {
	float: none;
}

#menu ul a {
	white-space: nowrap;
    opacity: 1.0;
    border-bottom: 1px dotted #000000;
    font-size: 12px;
    letter-spacing: 0px;
}

#menu li:hover ul {
	left: 0;
}

#menu li:hover ul a {
	text-decoration: none;
    border-bottom: 1px dotted #000000;
    font-size: 12px;
    letter-spacing: 1px;
}

#menu li:hover ul li a:hover {
	background: #292929;
}

.clock {
	margin: 15px 0px 0px;
	overflow: hidden;
	width: 260px;
	height: 85px;
	float: right;
}

.twitter {
	margin: 0px 0px 10px 0px;
	overflow: hidden;
	background-image: url('../images/twitter_bubble.png');
	background-repeat:  no-repeat;
	height: 470px;
}

.twitter .hash {
	margin: 5px 0px 10px 90px;
	overflow: hidden;
	background-image: url('../images/twitter_hash.png');
	background-repeat:  no-repeat;
	height: 27px;
}

.twitter .inside {
	margin: 25px;
	overflow: hidden;
}

.twitter .d {
	vertical-align: text-top;
}

.twitter .text {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 14px;
	color: #333333;
}

.twitter hr {
	display: block;
	height: 1px;
    border: 0px;
	border-top: 1px solid #ac9394;
    margin: 13px 0px;
	padding: 0px;
}

.twitter a:link, a:visited, a:active {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 12px;
	color: #af3d7b;
	text-decoration: none;
}

.twitter a:hover {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 12px;
	text-decoration: none;
	color: #ff4fae;
}

.row_after {
	clear: both;
}

.page {
    width: 940px;
}

.page_left {
	width: 610px;
}

.page_right {
	width: 270px;
}

.page_right, .page_left, .page {
	padding: 10px 30px 30px;
}

.equal, .page {
	overflow: hidden;
	float: left;
}

.divider_v {
	background-image: url('../images/dotted_v.png');
	background-repeat: repeat-y;
	margin: 30px 0px 0px;
}

.divider_h {
	background-image: url('../images/dotted_h.png');
	background-repeat: repeat-x;
	margin: 30px -10px 10px;
}

.page_bottom {
	margin: 30px;
	width: 960px;
	overflow: hidden;
	float: left;
}

.sponsors {
	margin: 20px 0px 0px;
}

.sponsors a.sp:link, a.sp:visited, a.sp:active {
	font-family: "Arial Black", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #737e7c;
	text-transform: uppercase;
	line-height: 30px;
	padding-left: 22px;
}

.sponsors a.sp:hover {
	color: #8b9896;
}

.sponsors img {
	#border: 1px solid #d0c9c9;
	margin: 5px 0px 5px 10px;
	vertical-align: middle;
}

h1 {
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
	margin: 20px 0px 0px;
}

h2 {
	font-family: Georgia, serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	margin: 15px 0px 10px 0px;
}

h3 {
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 20px;
}

h1 + p {
	margin-top: 15px;
}

p, td {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 14px;
	color: #000000;
	line-height: 16px;
	margin-bottom: 14px;
}

ul {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 14px;
	color: #000000;
	list-style-position: outside;
	list-style-type: square;
	margin: 5px 10px;
	padding: 5px 10px;
}

ol {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	list-style-position: inside;
	margin: 0px 5px;
	padding: 5px 0px;
}

li {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	padding: 0px;
	margin: 0px 10px;
}

a:link, a:visited, a:active {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 14px;
	color: #234faa;
	text-decoration: none;
}

a:hover {
	font-family: Georgia, "Palatino Linotype", serif;
	font-size: 14px;
	text-decoration: none;
	color: #135bf1;
}

table, th, td {
	border: none;
}

td {
	padding: 0px 20px 0px 0px;
	vertical-align: top;
}